<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Login
<br>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value=""><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value=""><br>
    <input type="submit" value="Login">
</form>
<a href="{% url 'register' %}">Register a new account</a>
<p style="color:red">{{ message }}</p>
</body>
</html>